{%extends 'users/user_base.html'%}
{%load static%}
{%block contents%}
<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeInDown">Analysis of Machine Learning Based Credit Card Transaction and its Applications</h2>
            <p class="wow fadeInDown">Machine Learning Based Credit Card Transaction</p>
        </div>

        <p>
           <table>
        <tr>
            <td><img src="{%static 'eda/bragraph.jpg'%}" alt="" width="1200" height="600"></td>
        </tr>
        <tr>
            <td><img src="{%static 'eda/isfraud.jpg'%}" alt="" width="1200" height="600"></td>
        </tr>
        <tr>
            <td><img src="{%static 'eda/transactions.jpg'%}" alt="" width="1200" height="600"></td>
        </tr>
        <tr>
            <td><img src="{%static 'eda/type1type2.jpg'%}" alt="" width="1200" height="600"></td>
        </tr>
        <tr>
            <td><img src="{%static 'eda/pitransaction.jpg'%}" alt="" width="1200" height="600"></td>
        </tr>

    </table>
        </p>

    </div>
</section><!--/#pricing-->

{%endblock%}